*{
  overflow: hidden
}
body{
  background-color: midnightblue;
}
#main_title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  padding: 20px;
  border: 1px solid;
}